//SIZES
//Component sizes
$content-min-width: 320px;
$content-min-height: 767px;

$content-tablet-width: 1024px;
$content-mobile-width: 600px;

//COLORS
$color-base: #2c2d76;
$color-secondary: #8083a4;
$color-accent: #373af5;
$color-critic: #e5596d;
$color-base-weak: #ffffff;