@import "../src/styles/variables.scss";

.forecast-card {
  width: 90%;
  max-width: 660px;
  min-width: 300px;

  height: 90%;
  max-height: 524px;
  min-height: 524px;

  background-color: $color-base-weak;
  box-shadow: 0px 4px 4px rgba(4, 5, 73, 0.25),
    14px 14px 20px rgba(5, 6, 114, 0.2);
  border-radius: 8px;

  margin: 10px;

  display: flex;
  flex-direction: column;

  &__header {
    margin: 50px 58px 10px 58px;
  }
  &__search-bar {
    margin: 10px 58px;
  }

  &__information {
    margin: 10px 58px 50px 58px;
  }

  @media (max-width: 600px) {
    &__header {
      margin: 32px 24px 10px 24px;
    }
    &__search-bar {
      margin: 10px 24px;
    }

    &__information {
      margin: 10px 24px 32px 24px;
    }
  }

  &__header {
    flex-grow: 1;
    display: flex;
    align-items: center;
  }

  &__title {
    text-align: left;
    font-family: "Ubuntu";
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 32px;
    margin: 0;

    color: $color-base;
  }

  &__search-bar {
    flex-grow: 2;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
  }

  &__information {
    flex-grow: 4;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__placeholder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    user-select: none;
    pointer-events: none;
  }

  &__placeholder-image {
    width: 160px;
    height: 160px;
    user-select: none;
    pointer-events: none;
  }

  &__placeholder-title {
    font-family: "Ubuntu";
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    text-align: center;

    user-select: none;
    pointer-events: none;

    color: $color-secondary;
  }
}
