body {
  margin: 0;
  font-family: "Ubuntu", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "Ubuntu";
  src: url("assets/fonts/Ubuntu-Regular.ttf") format("ttf"),
    url("assets/fonts/Ubuntu-Medium.ttf") format("ttf"),
    url("assets/fonts/Ubuntu-MediumItalic.ttf") format("ttf"),
    url("assets/fonts/Ubuntu-Light.ttf") format("ttf"),
    url("assets/fonts/Ubuntu-LightItalic.ttf") format("ttf"),
    url("assets/fonts/Ubuntu-Italic.ttf") format("ttf"),
    url("assets/fonts/Ubuntu-Bold.ttf") format("ttf"),
    url("assets/fonts/Ubuntu-BoldItalic.ttf") format("ttf");
}